node_modules/
.DS_Store
gen-lang-client-0518218630-eab6a3d197d7.json
/.cache
/build
build/
/app/build
/public/build/
/public/_dev
/app/public/build
/prisma/dev.sqlite
/prisma/dev.sqlite-journal
database.sqlite

.env
.env.local
.env.*

.vercel/

package-lock.json
yarn.lock
pnpm-lock.yaml

/extensions/*/dist

# Ignore shopify files created during app dev
.shopify/*
.shopify.lock
.vercel
.env*.local
*.json
!package.json
!package-lock.json
!tsconfig.json
!vercel.json
